@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	font-family: 'Roboto', sans-serif;
	overflow-x:hidden; 
}
{
	color: red;
}
.mb-6{
	margin-bottom:3.5rem;
}
.mb-7{
  margin-bottom:5rem;
}
.mt-45{
  margin-top:1.8rem;
}
.mr-6{
	margin-right:9rem;
}
.button{
	display: inline-block;
	width: 150px;
	height: 50px;
	border:none;
	border-radius: 5px;
	box-shadow: 0 3px 0 0 #138aa3;


}
/*.buttonsm{
	display: inline-block;
	width: 90px;
	height: 35px;
	border:none;
	border-radius: 5px;
	box-shadow: 0 3px 0 0 #138aa3;
}
.buttonlg{
	display: inline-block;
	width: 200px;
	height: 35px;
	padding-top: 5px;
	padding-right: 15px;
	border:none;
	border-radius: 5px;
	box-shadow: 0 3px 0 0 #138aa3;
}
.buttonxs{
	display: inline-block;
	width: 100px;
	height: 35px;
	padding-top: 5px;
	padding-right: 27px;
	border:none;
	border-radius: 5px;
	box-shadow: 0 3px 0 0 #138aa3;
}
.btn-theme {
    color: #fff;
    background-color: #00aed3;
    border-color: #28a745;
}
.button-block{
	width: 60%;
}*/
a{
	text-decoration: none;
	color:#fff;
}
.btn1 {
    display: inline-block;
    width:200px;
    color:#fff;
    font-weight: 400;
    text-align: center;
    user-select: none;
    background-color: #00aed3;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-shadow: 0 3px 0 0 #138aa3;
}
.btn2 {
    display: inline-block;
    width:150px;
    color:#fff;
    font-weight: 400;
    text-align: center;
    user-select: none;
    background-color: #00aed3;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-shadow: 0 3px 0 0 #138aa3;
}
.theme-color{
  color:#00aed3;
}
.img-control{
  width: 80px;
  height: 80px;
}

.cir-img{
  border-radius: 50%;
}
/*Main style*/
/*login*/
#loginform{
		width:500px;
		height:450px;
		/*background: #fff;*/
		border-radius: 10px;
		margin:auto;
		padding: 1rem;
		position:relative;
		/*box-shadow: 0 0 10px #333;*/
	}

#loginform .overlay{
	width:100%;
	height:100%;
    /*background: #fff;*/
	border-radius: 10px;
	margin:auto;
	padding: 1rem;
	position: absolute;
	top:0;
	left:0;
	background: rgba(255, 255, 255,0.7);
	border-radius: 10px;
}

#loginform .login-image img{
	width: 150px;
	height: 80px;
}

.forgotpas a{
	color: #555;
}
.forgot a:hover {
    color:#333;
    text-decoration: underline;
}
/*Animated background*/
.gradient-background {
  height: 100vh;
  padding-top:5rem;
   background: linear-gradient(62deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
     animation: gradient 15s ease infinite; 
      background-size: 400% 400%;
  
}
@-webkit-keyframes gradient{
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
     background-position: 0% 50%;
  }
}
@keyframes gradient{
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
     background-position: 0% 50%;
  }
}

/*Forgot password*/
#forgotpass{
		width:500px;
		height:390px;
		/*background: #fff;*/
		border-radius: 10px;
		margin:auto;
		padding: 1rem;
		position:relative;
		/*box-shadow: 0 0 10px #333;*/
	}

#forgotpass .overlay{
	width:100%;
	height:100%;
    /*background: #fff;*/
	border-radius: 10px;
	margin:auto;
	padding: 1rem;
	position: absolute;
	top:0;
	left:0;
	background: rgba(255, 255, 255,0.7);
	border-radius: 10px;
}
#forgotpass .logo img{
	width: 150px;
	height: 120px;
}
.forgot-password a{
	color:#fff;
}
.forgot-password a:hover{
	color:#fff;
	text-decoration: none;
}





/*dashboard page starts*/
.wrap_layout {
    display: flex;
    flex-direction: row;
}
/*sidebar starts*/
.side_nav {
    box-shadow: 0 0 10px #ddd;
    width: 300px;
    /*height: 100%;*/
    padding: 15px;
    background: #fff;
}
.side_nav li {
    padding: 8px 5px;
    font-size: 14px;
    background: #f5f5f5;
    margin: 3px 0px;
    border-radius: 3px;
    position: relative;
    text-align: left;
}
/*.side_nav li:last-child{
    border-bottom: unset;
}*/
li.drop .arrw {
    position: absolute;
    right: 10px;
    color: #656565;
}
.side_nav li .ico {
    width: 12%;
    display: inline-block;
    text-align: center;
    color: #656565;
}
.side_nav li.active, .side_nav li.active .ico, .side_nav li.active a{
    color: #fff;
    background: #00aed3;
}
.side_nav li.active a:hover{
    text-decoration: none;
}
.side_nav li a{
    color: #000000;
    text-decoration: none;
}
.logo {
    text-align: center;
    /*height: 120px;*/
    padding: 25px 0px;
    /*border-bottom: 1px solid #f5f5f5;*/
}
.logo img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    display: inline-block;
    /*border: 1px solid #e8e8e8;*/
    border-radius: 100%;
}

/*sidebar ends*/
/*header starts*/
.main_content{
    width: 82%;
}
.main_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    box-shadow: 0 1px 0px #ddd;
    /*background: #fff;*/
    background: #00aed3;
    color: #fff;
}
.main_header h3{
    margin-bottom: 0px;
}
.user img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}
.user p{
    margin: 0px;
    margin-right: 15px;
}
/*header ends*/
#user-filter .select-feild{
	width:50%;
}
/*toggle switch*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  width:50px;
  height:24px; 
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #00aed3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.slider-toggler{
	width: 50px
	height:40px;
}
#user-filter .useradd a{
	color: #fff;
	text-decoration: none;
}
#right-side-button a{
	color: #fff;
	text-decoration: none;
}
#right-side-button a:hover{
	color: #fff;
	text-decoration: none;
}

/*Support chat*/
#support-chat .chat-name{
  width: 100%;
  height: 550px;
  background: #f4f4f4;
  color: #333;
  padding: 0.5rem;
  border-radius: 10px;
}
#support-chat .user-info{
  margin-top: 2rem;
  border-radius: 5px;
  box-shadow: 0 0 5px #333;
}
#support-chat .img-user{
  width: 60px;
  height:60px;
}
#support-chat .user-description{
  margin-right: 50px;
}
#support-chat .user-description p{
  padding-top: 0;
  margin-bottom: -2px;
}

#support-chat .user-collection{
  background: #fff;
  padding: 0.95rem;
  height:400px;
  overflow-y: auto;
}

#chat-box .chat-text{
  background: #b4e5f0;
  border-radius: 10px;
}
#chat-box .chat-reply{
  max-width: 400px;
  background: #00d2ff;
  border-radius: 10px;
}
#chat-box .chatsys{
  height:450px;
  overflow-y: auto;
}
#message{
  height: 100px;
}
#payment-details .customer-detail{
  padding: 1.2rem; 
  border:1px solid #00aed3;
  border-radius: 10px;
}
#payment-details .ads-posts-detail{
  padding: 1.2rem; 
  border:1px solid #00aed3;
  border-radius: 10px;
}
#message-description{
  background: #fff;
  box-shadow: 0 0 5px #333;
  border-radius: 10px; 
}
#message-description img{
  width:150px;
  height:150px;
}
#vehicle-management .add-image{
  position: relative;
  border: 1px solid #00aed3;
}
#vehicle-management i{
  position: absolute;
  padding-left: 11px;
  padding-top: 8px;
}
#vehicle-management .add-image-input{
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  opacity: 0;
}